.dance-boom {
  width: 45%;
  margin-left: 3%;
  padding: 10px;
  border-radius: 17px;
}

@media screen and (max-width: 600px) {
  .dance-boom {
    width: 95%;
    margin-left: 3%;
    padding: 10px;
    border-radius: 17px;
  }
}